# Class Task: Python Programming Concepts

## Task 1: List Comprehension and Iterables

### List Comprehension

1. Write a list comprehension to generate a list of the squares of the first 10 natural numbers (i.e., 1^2, 2^2, ..., 10^2).
2. Use a conditional list comprehension to generate a list of all even numbers from 1 to 20.

In [3]:
# Solution for Task 1.1
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Solution for Task 1.2
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Iterables and Iterators

1. Create a list of the first 5 Fibonacci numbers. Use an iterator to print each number.
2. Write a generator function that yields the squares of numbers from 1 to 5. Use a for loop to print each generated value.

In [6]:
# Solution for Task 1.3
def fibonacci_iterator(count):
    a, b = 0, 1
    for _ in range(count):
        yield a
        a, b = b, a + b

# Using the iterator function to print the first 5 Fibonacci numbers
for num in fibonacci_iterator(5):
    print(num)

0
1
1
2
3

In [2]:
# Solution for Task 1.4
def square_generator():
    for i in range(1, 6):
        yield i ** 2

# Using a for loop to print each generated square
for square in square_generator():
    print(square)

1
4
9
16
25

## Task 2: Functions and Variable Scope

### Functions

1. Write a function `is_even(n)` that returns `True` if `n` is an even number, and `False` otherwise.
2. Create a function `calculate_rectangle_area` that takes the width and height of a rectangle and returns its area.

In [8]:
# Solution for Task 2.1
def is_even(n):
    return n % 2 == 0
    print(is_even(4))

In [15]:
# Solution for Task 2.2
def calculate_rectangle_area(width, height):
    area = width * height
    return area
    area1 = calculate_rectangle_area(5, 3)
    print("Area 1:", area1)

### Variable Scope

1. Write a function that modifies a global variable. Demonstrate the function and print the global variable before and after calling the function.
2. Create a nested function where the inner function accesses a variable defined in the outer function. Demonstrate the functionality.

In [16]:
# Solution for Task 2.3
# Define a global variable
global_var = 10

# Function to modify the global variable
def modify_global_variable():
    global global_var
    global_var = 20

# Print the global variable before modification
print("Global variable before:", global_var)

# Call the function to modify the global variable
modify_global_variable()

# Print the global variable after modification
print("Global variable after:", global_var)

Global variable before: 10
Global variable after: 20

In [17]:
# Solution for Task 2.4
def outer_function():
    outer_variable = "I'm defined in outer function"

    def inner_function():
        print("Inner function accessing:", outer_variable)

    # Call inner function
    inner_function()

# Call outer function
outer_function()

Inner function accessing: I'm defined in outer function

## Task 3: File Handling and Exception Handling

### File Handling

1. Write a program that writes the first 10 natural numbers to a file named `numbers.txt`, each number on a new line.
2. Read the content of the file `numbers.txt` and print it to the console.

In [18]:
# Solution for Task 3.1

def write_numbers_to_file(filename):
    # Open the file in write mode
    with open(filename, 'w') as file:
        # Write numbers 1 to 10 to the file, each on a new line
        for number in range(1, 11):
            file.write(f"{number}\n")

# Name of the file to write
filename = "numbers.txt"

# Call the function to write numbers to the file
write_numbers_to_file(filename)

print(f"Successfully wrote the first 10 natural numbers to '{filename}'.")

Successfully wrote the first 10 natural numbers to 'numbers.txt'.

In [19]:
# Solution for Task 3.2
def read_numbers_from_file(filename):
    # Open the file in read mode
    with open(filename, 'r') as file:
        # Read all lines from the file
        lines = file.readlines()
        # Print each line (number) to the console
        for line in lines:
            # Strip any extra whitespace, including newline characters
            print(line.strip())

# Name of the file to read
filename = "numbers.txt"

# Call the function to read and print numbers from the file
read_numbers_from_file(filename)

1
2
3
4
5
6
7
8
9
10

### Exception Handling

1. Modify the file reading program to handle the case where the file does not exist. Print an appropriate message if the file is not found.
2. Write a function that takes a list of numbers and returns their average. Use exception handling to manage cases where the list is empty or contains non-numeric values.

In [ ]:
# Solution for Task 3.3
def read_numbers_from_file(filename):
    try:
        # Open the file in read mode
        with open(filename, 'r') as file:
            # Read all lines from the file
            lines = file.readlines()
            # Print each line (number) to the console
            for line in lines:
                # Strip any extra whitespace, including newline characters
                print(line.strip())
    except FileNotFoundError:
        print(f"Error: The file '{filename}' does not exist.")

# Name of the file to read
filename = "numbers.txt"

# Call the function to read and print numbers from the file
read_numbers_from_file(filename)

In [20]:
# Solution for Task 3.4
def calculate_average(numbers):
    try:
        # Check if the list is empty
        if len(numbers) == 0:
            raise ValueError("The list is empty. Cannot calculate average.")

        # Convert all elements to float and calculate the sum
        sum_numbers = 0
        count = 0
        for num in numbers:
            if isinstance(num, (int, float)):
                sum_numbers += float(num)
                count += 1
            else:
                raise TypeError(f"Non-numeric value '{num}' found in the list.")

        # Calculate the average
        average = sum_numbers / count
        return average

    except ValueError as ve:
        print(ve)
    except TypeError as te:
        print(te)
    except ZeroDivisionError:
        print("Error: Division by zero. Cannot calculate average.")

# Test cases
numbers1 = [1, 2, 3, 4, 5]
print("Average of numbers1:", calculate_average(numbers1))  # Output: Average of numbers1: 3.0

numbers2 = []  # Empty list
print("Average of numbers2:", calculate_average(numbers2))  # Output: The list is empty. Cannot calculate average.

numbers3 = [1, 2, 'a', 4, 5]  # List with non-numeric value 'a'
print("Average of numbers3:", calculate_average(numbers3))  # Output: Non-numeric value 'a' found in the list.

numbers4 = [10, 20, None, 30, 40]  # List with None (non-numeric)
print("Average of numbers4:", calculate_average(numbers4))  # Output: Non-numeric value 'None' found in the list.

Average of numbers1: 3.0
The list is empty. Cannot calculate average.
Average of numbers2: None
Non-numeric value 'a' found in the list.
Average of numbers3: None
Non-numeric value 'None' found in the list.
Average of numbers4: None

## Task 4: Lambda Expressions, Map, and Filter Functions

### Lambda Expressions

1. Use a lambda function with the `map` function to create a list of the squares of numbers from 1 to 5.
2. Use a lambda function with the `filter` function to filter out all odd numbers from a list of integers from 1 to 10.

In [21]:
# Solution for Task 4.1
# Using lambda function with map to generate squares of numbers from 1 to 5
squares = list(map(lambda x: x**2, range(1, 6)))

print(squares)

[1, 4, 9, 16, 25]

In [22]:
# Solution for Task 4.2
# Using lambda function with filter to filter out odd numbers from 1 to 10
numbers = range(1, 11)
filtered_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(filtered_numbers)

[2, 4, 6, 8, 10]

### Map and Filter Functions

1. Create a list of names. Use the `map` function to convert all names to uppercase.
2. Use the `filter` function to create a list of numbers from 1 to 20 that are divisible by 3.

In [23]:
# Solution for Task 4.3
# List of names
names = ['John', 'Doe', 'Ian', 'Chappal', 'Stone']

# Use map function to convert all names to uppercase
uppercase_names = list(map(str.upper, names))

print(uppercase_names)

['JOHN', 'DOE', 'IAN', 'CHAPPAL', 'STONE']

In [24]:
# Solution for Task 4.4
# Using filter function to filter numbers from 1 to 20 that are divisible by 3
numbers = range(1, 21)
divisible_by_3 = list(filter(lambda x: x % 3 == 0, numbers))

print(divisible_by_3)

[3, 6, 9, 12, 15, 18]